header{
   margin-top: 2%;
   margin-bottom: 2%;
   text-align: center;
}

#changeButton{
   border-radius: 8px;
   background-color: #5cd65c;
}

#resetButton{
   border-radius: 8px;
   background-color: #ff5c33;
}

#container{
   text-align: center;
   margin-top: 2%;
   margin-left: auto;
   margin-right: auto;
}

#container, div{
   line-height: 0px;
}

.square{
   display: inline-block;
   background-color: blue;
   margin: 0px 0px 0px 0px;
};
